<div class="row">
        <div class="col text-center">
            <span class="logo-text">coldfeet</span>
            <img src="assets/logo2.png" class="logo">
        </div>
    </div>
    <div class="row center justify-content-center">
        <div class="brand col-8">
            <blockquote class="blockquote" *ngFor="let tweet of tweets">
                <p class="mb-0">{{ tweet.text }}</p>
                <footer class="blockquote-footer">That guy from Twitter</footer>
            </blockquote>
        </div>
    </div>