<div class="row">
    <div class="col text-center">
        <span class="logo-text">ColdFeet</span>
        <img src="assets/logo2.png" class="logo">
    </div>
</div>
<div class="row center justify-content-center" *ngIf="contract">
    <div class="brand col-8">
        <h3 class="text-center">{{ contract.product.name }}</h3>
        <p class="text-center">
            You bought <b>{{ contract.product.name }}</b> for <b>{{ contract.product.price / 100 }} CHF</b>, and paid {{
            Math.floor(contract.insurancePrice) }} CHF to insure your purchase.
        </p>

        <p class="text-center">
            We monitored your product closely, and have decided that it is {{ contract.avg.sentiment >= 0 ? '🎉' : '💩' }}.

            <span *ngIf="contract.avg.sentiment >= 0">
                Therefore, just enjoy your product! It is wonderful!
            </span>

            <span *ngIf="contract.avg.sentiment < 0">
                Therefore, we reimburse you your hard-earned money in form of this Voucher. Go and order something better!
            </span>
        </p>

        <hr>

        <div class="text-center" style="font-size: 1.5rem">
            Voucher: <code>6Fks45fdl</code>
        </div>

        <hr>

        <p>
            Here a few tweets we collected:
        </p>

        <div *ngIf="contract.avg.sentiment >= 0">
            <tweet [tweet]="tweet" *ngFor="let tweet of contract.bestTweets"></tweet>
        </div>

        <div *ngIf="contract.avg.sentiment < 0">
            <tweet [tweet]="tweet" *ngFor="let tweet of contract.worstTweets"></tweet>
        </div>
    </div>
</div>