
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

body {
    background-image: url('assets/bg.png');
    background-size: cover;
    height: 100%;
}

html {
    background-color: #1096f0;
    height: 100%;
}

.slide-fade {
    transition: all 0.5s ease-out;
    opacity: 0;
}

.slide-fade.show {
    opacity: 1;
}

.slide-fade-hide {
    transition: all 0.5s ease-out;
    opacity: 1;
}

.slide-fade-hide.hide {
    opacity: 0;
    margin-top: -400px;
}

h1, h2, h3, h4 {
    color:#00A2FF;
}

body, html {
    color: rgba(black, 0.7);
}

jaspero-alert path {
    fill: #28a745 !important;
}

.logo {
    margin-top: 4rem;
    height: 12rem;
}


.logo-text {
    color: #1085C4;
    font-size: 2.2em;
    position: absolute;
    top: 5rem;
    margin-left: 10rem;
}

.brand {
    margin: 1rem;
    padding: 2rem;
    transition: all 0.5s ease-out;
    box-shadow: 5px 5px 50px -20px rgba(0,0,0,0.3);
    background-color: white;

    > img {
        height: 5rem;
        opacity: 0.5;
    }
}

.brand-selected {
    box-shadow: 5px 5px 50px -20px rgba(0,0,0,0.8);
    > img {
        opacity: 1;
    }
}

.brand:hover {
    box-shadow: 5px 5px 50px -20px rgba(0,0,0,0.8);
    > img {
        opacity: 1;
    }
}

.soon {
    filter: grayscale(100%);
}